<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title></title>
		<style type="text/css">
			* {
				margin: 0;
				padding: 0;
			}
			
			body,
			html {
				height: 100%;
			}

			
			p {
				margin: 0.4rem 0;
			}
			
			div {
				font-size: 1.00rem;
				padding: 10px 8% 0 8%;
			}
			
			span {
				color: #f00;
			}
			
		</style>
	</head>

	<body>
		<header></header>
		
		<img height="120" width="343" style="text-align:center;margin-left:8%" src="cid:invoice" alt="增值税电子普通发票"/>
        <br>
		<div>
			<p>尊敬的用户，您好:</p>
			<p><strong>您申请的电子发票已投递成功</strong>,请查收。<br>如您对发票信息有疑问请您联系商家或致电<span>400-xxx-xxxx
</span></p>
			<p>xx电子发票服务</p>
		</div>
	</body>

</html>